body {
    background-color:darkslategray
}

h1 {
    text-shadow: 2px 2px 1.2px black;
    border: wheat;
    border-style: groove;
    color:wheat  
}

h2 {
    
    text-shadow: 2px 2px 1.2px black;
    border: wheat;
    border-style: groove;
    color:wheat   
}

h3 {
    text-shadow: 2px 2px 1.2px black;
    border: wheat;
    border-style: groove;
    color:wheat  
}

h4 {
    text-shadow: 2px 2px 1.2px black;
    border: wheat;
    border-style: groove;
    color:wheat  
}

p {
    color: white;
}

label {
    text-align: right;    
    font-size: 15px;     
}

div#formacao {

    color:wheat;
}

div#hobbie {
    color: wheat;
}

div#contato {
    color: wheat;
}

div#minhapessoa {
      color: wheat;

}

ol {
    color: white;
    border-width: 100px;
    border-style: initial;
    border: 2px 2px 2px;
    border-color: brown;
}

